.authorization
  & > footer
    display none
  & > .content
    padding-left: 0
    & .main-menu
      display none
  & > header
    display none
  &__bg
    background: $mainColor
    background: linear-gradient(180deg, $mainColor 0%, rgba(255, 255, 255, 0) 100%)
    height 100%
    overflow hidden
    position relative
  &__wrapper
    display flex
    flex-direction column
    align-items center
    justify-content center
    text-align: center
    height 100%
    h1
      font-size: 40px
      font-weight: 200
      color $wh
      margin-top 0
      @media xs-all
        font-size: 30px
  &__form
    position: relative
    z-index: 2
    input
      display: block
      outline: 0
      border: 1px solid #fff6
      background-color: #fff3
      width: 250px
      border-radius: 3px
      padding: 10px 15px
      margin: 0 auto 10px auto
      font-size: 18px
      color: $wh
      text-align center
      transition-duration: 0.25s
      font-weight: 300
      &:hover
        background-color: #fff6
      &:focus
        background-color: $wh
        width: 300px
        color: $mainColor
    button
      background-color: $wh
      border: 0
      padding: 10px 15px
      color: $mainColor
      border-radius: 3px
      width: 250px
      cursor: pointer
      font-size: 18px
      transition-duration: 0.25s
      &:hover
        background-color: rgb(245, 247, 249)

  &__bubbles
    padding 0
    margin 0
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    z-index: 1
    li
      position: absolute
      list-style: none
      display: block
      width: 40px
      height: 40px
      background-color: #ffffff26
      bottom: -160px
      animation: square 25s infinite
      transition-timing-function: linear

      &:nth-child(1)
        left: 10%

      &:nth-child(2)
        left: 20%
        width: 80px
        height: 80px
        animation-delay: 2s
        animation-duration: 17s

      &:nth-child(3)
        left: 25%
        animation-delay: 4s

      &:nth-child(4)
        left: 40%
        width: 60px
        height: 60px
        animation-duration: 22s
        background-color: #ffffff40

      &:nth-child(5)
        left: 70%

      &:nth-child(6)
        left: 80%
        width: 120px
        height: 120px
        animation-delay: 3s
        background-color: #fff3

      &:nth-child(7)
        left: 32%
        width: 160px
        height: 160px
        animation-delay: 7s

      &:nth-child(8)
        left: 55%
        width: 20px
        height: 20px
        animation-delay: 15s
        animation-duration: 40s

      &:nth-child(9)
        left: 25%
        width: 10px
        height: 10px
        animation-delay: 2s
        animation-duration: 40s
        background-color: #ffffff4d

      &:nth-child(10)
        left: 90%
        width: 160px
        height: 160px
        animation-delay: 11s

@keyframes square
  0%
    transform: translateY(0)
  100%
    transform: translateY(-700px) rotate(600deg)