.employees
  &__title
    font-size: 48px
    padding 60px 0 40px
    @media xs-all
      font-size: 30px
      padding 30px 0 20px
      text-align center

  &__wrapper
    display flex
    flex-direction row
    align-items flex-start
    justify-content flex-start
    flex-wrap wrap
    margin 0 -15px
    padding-bottom: 60px
    @media xs-all
      flex-direction column
      padding-bottom: 30px
      align-items center

  &__items
    width: 25%
    padding 0 15px
    margin-bottom: 40px
    transition all .3s linear
    &:hover,
    &:focus
      transition all .3s linear
      transform scale(1.05)
    @media xs-all
      width: 100%
      margin-bottom: 20px
      max-width: 285px
    @media md
      width: 33.3333%
      max-width: 285px

  &__items--bg
    background-color: #eee
    padding: 30px 20px
    display: flex
    flex-direction: column
    align-items: center
    justify-content: flex-start
    height 365px
  &__img
    width: 100%
    height: 200px
    background-size: cover
    background-repeat: no-repeat
    background-position: center
  &__name
    font-size: 18px
    font-weight: bold
    margin 10px 0
    text-align center
    overflow: hidden
    text-overflow: ellipsis
    display: -webkit-box
    line-height: 25px
    max-height: 50px
    -webkit-line-clamp: 2
    -webkit-box-orient: vertical
    width: 100%
  &__desc
    width: 100%
    overflow: hidden
    text-align center
    text-overflow: ellipsis
    display: -webkit-box
    line-height: 20px
    max-height: 60px
    -webkit-line-clamp: 3
    -webkit-box-orient: vertical
