.personal-area
  &__wrapper
    display flex
    flex-direction row
    align-items center
    justify-content center
    height 100%
    padding 80px 0
    @media xs-all
      padding 40px 0
  &__item
    background-color: #eee
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.16)
    width: 80%
    padding: 60px
    display: flex
    flex-direction: row
    align-items: flex-start
    justify-content: flex-start
    @media xs-all
      width: 100%
      padding 20px
      flex-direction column
      align-items flex-start
      justify-content flex-start
    @media md
      width: 100%
      padding 40px
      flex-direction column
      align-items flex-start
      justify-content flex-start
      max-width: 600px;
  &__ava--wrapper
    display flex
    flex-direction column
    align-items center
    justify-content center
    width: 40%
    flex-basis 40%
    @media xs-all
      width: 100%
      flex-basis auto
      align-items flex-start
      justify-content flex-start
    @media md
      width: 100%
      flex-basis auto
      align-items flex-start
      justify-content flex-start
  &__ava
    width: 250px
    height: 250px
    min-height 250px
    min-width: 250px
    background-size: cover
    background-position: center
    background-repeat: no-repeat
    border-radius 50%
    @media xs-all
      width: 100px
      height: 100px
      min-height 100px
      min-width 100px
    @media md
      width: 150px
      height: 150px
      min-height 150px
      min-width 150px
  &__ava--edit
    font-size: 14px
    padding-top: 10px
    @media xs-all
      font-size: 12px
    i
      margin-left: 5px
      font-size: 12px
      @media xs-all
        font-size: 10px
  &__text
    padding-top: 20px
    padding-left 40px
    width: 60%
    flex-basis 60%
    @media xs-all
      width: 100%
      padding-left: 0
      flex-basis auto
    @media md
      width: 100%
      padding-left: 0
      flex-basis auto
  &__name
    font-size: 20px
    font-weight: bold
    margin 0
    padding-bottom: 20px
    @media xs-all
      font-size: 16px
  &__info
    p
      margin 10px 0
      @media xs-all
        margin 5px 0