.links
  padding-bottom: 40px
  &__wrapper
    display flex
    flex-direction row
    align-items center
    justify-content flex-start
    flex-wrap wrap
    @media xs-all
      justify-content center
  &__item
    padding 10px 20px
    font-size: 14px
    color grey
    display block
    border-top 3px solid transparent
    transition all .3s linear
    &.active
      border-top 3px solid $mainColor
      color $mainColor
