.map
  &__wrapper
    height 100%
    display flex
    flex-direction row
    align-items center
    justify-content center
    padding 40px 0
    nav
      width: 100%
  &__table
    width: 100%
    display flex
    flex-direction column
    align-items flex-start
    justify-content flex-start
  &__table--items
    width: 100%
    display flex
    flex-direction row
    align-items center
    justify-content flex-start
    border-bottom 0.5px solid #E5E5E5
    &:first-child
      border-top 0.5px solid #E5E5E5
      .map__table--number
        font-weight: bold;
      .map__table--desc
        font-weight: bold;
    &:nth-child(odd)
      background-color: #F2F2F2
  &__table--number
    width: 10%
    flex-basis 10%
    padding 10px 16px
  &__table--desc
    width: 90%
    flex-basis 90%
    padding 10px 16px

