.networking
  & .employees__items
    width: 100%
    @media lg-all
      width: 33.333%
    @media md
      width: 50%

  & .employees__items--bg
    height auto
    min-height 475px

  & .employees__wrapper
    @media md
      justify-content center

  & .employees__name
    overflow: unset;
    text-overflow: unset;
    display: unset;
    line-height: unset;
    max-height: unset;
    -webkit-line-clamp: unset;
    -webkit-box-orient: unset;
  &__link
    color $mainColor
    font-weight: bold
    position relative
    &:after
      content ''
      left 0
      right: 0
      bottom 0
      position absolute
      width: 0
      height: 2px
      background-color: $mainColor
      transition all .3s linear
    &:hover:after
      width: 100%
.networking-form
  .things__form--wrapper
    margin-bottom: 60px