.news
  &__wrapper
    display flex
    flex-direction row
    align-items center
    justify-content space-between
    width: 100%
    padding 20px 0 10px
    flex-wrap wrap

  & .employees__items
    width: 100%
    @media lg-all
      width: 33.333%
    @media md
      width: 50%

  & .employees__items--bg
    height 450px

  & .employees__wrapper
    @media md
      justify-content center

.news-article
  &__wrapper
    background-color: #eee
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.16)
    width: 90%
    padding: 60px
    display: flex
    flex-direction: column
    align-items: flex-start
    justify-content: flex-start
    @media xs-all
      width: 100%
      padding 20px
    @media md
      width: 100%
      padding 40px
      max-width: 600px;
  &__img
    max-width 300px
    margin-right: 20px
    margin-bottom: 20px
    float left
    @media xs-all
      float unset
      margin-right: 0
      margin-bottom: 10px
  &__title
    color $mainColor
    margin-top: 0
    font-size: 28px
    @media xs-all
      font-size: 18px
