.schedule
  & .links
    padding-bottom: 20px
  &__title
    font-weight: 500
    font-size: 18px
    padding 20px 0
  & .map__table--items
    @media xs-all
      flex-wrap wrap
  &__wrapper
    padding-bottom: 60px
  & .map__table--time
    width: 10%
    flex-basis 10%
    padding: 10px 16px
  & .map__table--author
    padding: 10px 16px
  & .map__table--items:first-child .map__table--time,
  & .map__table--items:first-child .map__table--author
    font-weight: bold
  & .map__table--number
    width: 20%
    flex-basis 20%
  & .map__table--desc,
  & .map__table--author
    width: 35%
    flex-basis 35%
    @media xs-all
      width: 100%
      flex-basis auto
      text-align center
  & .map__table--number,
  & .map__table--time
    @media xs-all
      width: 50%
      flex-basis: auto
      text-align center
