.things
  & .map__wrapper
    padding-top: 0
    margin-bottom: 60px
  &__form--wrapper
    width: 80%
    margin 0 auto
    @media xs-all
      width: 100%
    @media md
      width: 100%
    @media lg
      width: 90%
  & .nav-link
    font-size: 20px
.things-list
  &__desc
    margin 10px 0
    font-weight bold
    width: 100%
  .employees__items--bg
    height auto
    padding 20px
  .news__author.search
    color red
  .news__author.find
    color green

