@import 'utils/_fonts'
@import 'utils/_config'
@import 'utils/_templates'
@import 'utils/_vars'
@import 'modules/_header'
@import 'modules/_footer'
@import 'modules/_main-menu'
@import 'modules/_tabs'
@import 'modules/_pagination'
@import 'modules/_form'
@import '_authorization'
@import '_index'
@import '_map'
@import '_employees'
@import '_news'
@import '_things'
@import '_networking'
@import '_links'
@import '_schedule'


*,
*::before,
*::after
  box-sizing: border-box

//Свойства width и height включают в себя значения полей и границ, но не отступов (margin).
html, body
  max-width 100%
  min-height 100%
  height 100%
  font-family: $mainFont

  button, a
    cursor: pointer
    outline none !important

html
  -webkit-text-size-adjust: 100%
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0)

body
  width: 100%
  min-width: 320px
  font-weight: $mainFontWeight
  line-height: $mainLineHeight
  text-align: left
  background-color: #fff
  overflow-x hidden
  display flex
  flex-direction: column
  font-size: $mainFontSize
  color $mainFontColor

body *
  font-family $mainFont

.container
  width 100%
  padding-right 15px
  padding-left 15px
  margin-right auto
  margin-left auto
  @media sm
    max-width 540px
  @media md
    max-width 720px
  @media lg
    max-width 960px
  @media xl
    max-width 1170px

.content
  flex 1 0 auto
  position relative
  padding-left 50px
footer.footer
  flex 0 0 auto

::-webkit-scrollbar
  width 0
  background transparent
  /* Handle */
::-webkit-scrollbar-thumb
  background: #888
  /* Handle on hover */
::-webkit-scrollbar-thumb:hover
  background: #555


a
  color inherit
  transition: color 0.5s ease-out
  text-decoration: none
  &:hover,
  &:focus
    color $darkMainColor
    text-decoration none
    transition: color 0.5s ease-out

img
  max-width: 100%
  height: auto
  width: 100%


[role=button], a, button, input, label, select, textarea
  -ms-touch-action: manipulation
  touch-action: manipulation

[tabindex="-1"]:focus
  outline: 0 !important

li
  list-style-type none

a:hover
  text-decoration none

[role=button], a, button, input, label, select, textarea
  -ms-touch-action manipulation
  touch-action manipulation

-webkit-overflow-scrolling touch
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
  -webkit-appearance: none
  margin: 0

/* clears the 'X' from Internet Explorer */
input[type=search]::-ms-clear
  display: none
  width: 0
  height: 0


input[type=search]::-ms-reveal
  display: none
  width: 0
  height: 0


/* clears the 'X' from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration
  display: none
  