link(rel='apple-touch-icon', sizes='180x180', href='/img/favicon/apple-touch-icon.png')
link(rel='icon', type='image/png', sizes='32x32', href='/img/favicon/favicon-32x32.png')
link(rel='icon', type='image/png', sizes='16x16', href='/img/favicon/favicon-16x16.png')
link(rel='manifest', href='/img/favicon/site.webmanifest')
link(rel='mask-icon', href='/img/favicon/safari-pinned-tab.svg', color='#008170')
meta(name='msapplication-TileColor', content='#ffffff')
meta(name='theme-color', content='#ffffff')
