footer.footer
  .container
    .footer__wrapper
      .footer__item--icon
        a(href='#').footer__icon
          .footer__icon--img(style='background-image: url("/img/icons/uib.png")', title='UIB')
        a(href='#').footer__icon
          .footer__icon--img(style='background-image: url("/img/icons/favicon.png")', title='moodle')
        a(href='#').footer__icon
          .footer__icon--img(style='background-image: url("/img/icons/instagram.png")', title='instagram')
        a(href='#').footer__icon
          .footer__icon--img(style='background-image: url("/img/icons/vk.png")', title='vk')
        a(href='#').footer__icon
          .footer__icon--img(style='background-image: url("/img/icons/facebook.png")', title='facebook')
        a(href='#').footer__icon
          .footer__icon--img(style='background-image: url("/img/icons/youtube.png")', title='youtube')
      .footer__item--txt
        a(href='#').footer__txt--link Левкович Дарья
        a(href='#').footer__txt--link Армидинова Карина
        p.footer__txt 2020