header.header
	.container
		.header__wrapper
			a(href='http://uib.kz/', target='_blank').header__logo
				img(src='/img/logo-uib.png')
			.header__avatar(style='background-image: url("/img/ava.jpg")')
				a(href='authorization.html').header__exit Выход