nav.main-menu
	.main-menu__wrapper
		ul
			li
				a(href='index.html')
					i.fa.fa-2x.fas.fa-user-graduate
					span.nav-text
						| Личный кабинет
			li.has-subnav
				a(href='employees.html')
					i.fa.fa-2x.fas.fa-id-card-alt
					span.nav-text
						| Преподователи
			li.has-subnav
				a(href='map.html')
					i.fa.fa-2x.fas.fa-map-marked-alt
					span.nav-text
						| Карта ВУЗа
			li.has-subnav
				a(href='news.html')
					i.fa.fa-2x.far.fa-newspaper
					span.nav-text
						| Новости
			li
				a(href='schedule.html')
					i.fa.fa-2x.fas.fa-book-open
					span.nav-text
						| Расписание
			li
				a(href='networking.html')
					i.fa.fa-2x.fas.fa-users
					span.nav-text
						| Нетворкинг
			li
				a(href='networking-form.html')
					i.fa.fa-2x.fas.fa-plus
					span.nav-text
						| Нетворкинг - заявление
			li
				a(href='things.html')
					i.fa.fa-2x.fas.fa-search
					span.nav-text
						| Потеряшка - заявление
			li
				a(href='things-list.html')
					i.fa.fa-2x.fas.fa-clipboard-list
					span.nav-text
						| Списки потеряшек