nav(aria-label='Page navigation').nav-pagination
	ul.pagination
		li.pagination__item
			a.pagination__link(href='#')
				i.fas.fa-angle-left
		li.pagination__item.active
			a.pagination__link(href='#') 1
		li.pagination__item
			a.pagination__link(href='#') 2
		li.pagination__item
			a.pagination__link(href='#') 3
		li.pagination__item
			a.pagination__link(href='#')
				i.fas.fa-angle-right
