extends layout/_main
block variables
	- var title = 'Авторизация';
	- var pageClass = 'authorization';

block content
	.authorization__bg
		.authorization__wrapper
			.container
				h1 Добро пожаловать в UIBstud!
				form.authorization__form
					input(type='text', placeholder='Логин')
					input(type='password', placeholder='Пароль')
					button#login-button(type='submit') Войти
		ul.authorization__bubbles
			li
			li
			li
			li
			li
			li
			li
			li
			li
			li