extends layout/_main
block variables
	- var title = 'Пак Элла Юрьевна';
	- var pageClass = 'teacher';

block content
	.container
		.personal-area__wrapper
			.personal-area__item
				.personal-area__ava--wrapper
					.personal-area__ava(style='background-image: url("/img/unnamed.jpg")')
				.personal-area__text
					h6.personal-area__name Пак Элла Юрьевна
					.personal-area__info.
						Практик.
						Бизнес-тренер, бизнес-консультант в области маркетинговых исследований, управления маркетингом, анализа рынка, изучения поведения потребителей.