extends layout/_main
block variables
	- var title = 'Преподователи';
	- var pageClass = 'employees';

block content
	.container
		.employees__title Преподователи
		.links
			.links__wrapper
				a(href='#').links__item.active Все
				a(href='#').links__item Финансы и учет
				a(href='#').links__item Менеджмент и Бизнес
				a(href='#').links__item Языковой центр
		.employees__wrapper
			a(href='employees-article.html').employees__items
				.employees__items--bg
					.employees__img(style='background-image: url("/img/unnamed.jpg")')
					.employees__name Пак Элла Юрьевна
					.employees__desc Практик. Бизнес тренер
			a(href='employees-article.html').employees__items
				.employees__items--bg
					.employees__img(style='background-image: url("/img/unnamed.jpg")')
					.employees__name Пак Элла Юрьевна
					.employees__desc Практик. Бизнес тренер
			a(href='employees-article.html').employees__items
				.employees__items--bg
					.employees__img(style='background-image: url("/img/unnamed.jpg")')
					.employees__name Пак Элла Юрьевна
					.employees__desc Практик. Бизнес тренер Практик. Бизнес тренер Практик. Бизнес тренер Практик. Бизнес тренер Практик. Бизнес тренер Практик. Бизнес тренер
			a(href='employees-article.html').employees__items
				.employees__items--bg
					.employees__img(style='background-image: url("/img/unnamed.jpg")')
					.employees__name Пак Элла Юрьевна
					.employees__desc Практик. Бизнес тренер
			include includes/modules/_pagination
