extends layout/_main
block variables
	- var title = 'Личный кабинет';
	- var pageClass = 'personal-area';

block content
	.container
		.personal-area__wrapper
			.personal-area__item
				.personal-area__ava--wrapper
					.personal-area__ava(style='background-image: url("/img/ava.jpg")')
					a(href='#').personal-area__ava--edit
						| Редактировать
						i.fas.fa-pen
				.personal-area__text
					h6.personal-area__name Левкович Дарья Андреевна
					.personal-area__info
						p Группа: ИС 16.309 РО
						p Форма: Очное
						p Уровень: Бакалавр
						p Специальность или ОП: Информационные системы
						p Штрих-код: 1610232
						p Курс: 4