extends layout/_main
block variables
	- var title = 'Карта ВУЗа';
	- var pageClass = 'map';

block content
	.container
		.map__wrapper
			nav(role='tablist')
				.nav.nav-tabs
					#defaultOpen.nav-link(data-target="home") Цокальный этаж
					.nav-link(data-target="profile") Второй этаж
					.nav-link(data-target="homes") Первый этаж
					.nav-link(data-target="contact") Третий этаж
				.tab-content
					#home.tab-pane
						.map__table
							.map__table--items
								.map__table--number #
								.map__table--desc Описание
							.map__table--items
								.map__table--number 10
								.map__table--desc Lorem ipsum dolor sit amet, consectetur adipiscing elit qua. ntum.
							.map__table--items
								.map__table--number 9
								.map__table--desc Lorem ipsum dolor sit amet, consectetur adipiscing elit qua. ntum.
							.map__table--items
								.map__table--number 234
								.map__table--desc Lorem ipsum dolor sit amet, consectetur adipiscing elit qua. ntum.
							.map__table--items
								.map__table--number 306
								.map__table--desc Lorem ipsum dolor sit amet, consectetur adipiscing elit qua. ntum.
					#homes.tab-pane.
						Первый этаж
					#profile.tab-pane.
						Второй этаж
					#contact.tab-pane.
						Третий этаж