extends layout/_main
block variables
	- var title = 'Нетворкинг';
	- var pageClass = 'networking-form';

block content
	.container
		.employees__title Нетворкинг
		.things__form--wrapper
			p
				span.label-required *
				| - обязательные поля
			form
				.form-group
					label(for='select') Выберите категорию нетворкинга
						span.label-required *
					select#select.custom-select
						option(selected='') Досуг
						option(value='1') Образование
						option(value='2') Диплом
						option(value='3') Универ
				.form-group
					label(for='title') Заголовок
						span.label-required *
					input#title.form-control.form-control--error(type='text', placeholder='Заголовок')
					span.form-error.show Неверные данные
				.form-group
					label(for='search-textarea') Описание (Ваша цель, кого ищете, в чем ваша идея и т.д.)
						span.label-required *
					textarea#search-textarea.form-control(rows='3', required='required')
				.form-group
					label(for='search-file') Картинка
					input#search-file.form-control-file(type='file')
				button.btn.btn--default(type='submit') Отправить