extends layout/_main
block variables
	- var title = 'Нетворкинг';
	- var pageClass = 'networking-article';

block content
	.container
		.personal-area__wrapper
			.news-article__wrapper
				h1.news-article__title Университетский клуб книголюбов ищет таланты
				.news-article__date 16.04.2020
				a(href='#').networking__link Университет
				h6.personal-area__name Карина Армидинова
				.news-article__img--wrapper
					img(src='/img/enot.jpg').news-article__img
					.personal-area__info.
						Кастинг будет проходить с 30 мая по 5 апреля, по вопросам обращаться по номеру +77078679900.
						ищем людей способных без проблем выступать на публике, раскованных, подкованных в ораторском деле.
