extends layout/_main
block variables
	- var title = 'Нетворкинг';
	- var pageClass = 'networking';

block content
	.container
		.employees__title Нетворкинг
		.links
			.links__wrapper
				a(href='#').links__item.active Все
				a(href='#').links__item Досуг
				a(href='#').links__item Образование
				a(href='#').links__item Диплом
				a(href='#').links__item Университет
		.employees__wrapper
			a(href='networking-inside.html').employees__items
				.employees__items--bg
					.employees__img(style='background-image: url("/img/enot.jpg")')
					.news__wrapper
						.news__date 20.04.2020
						.news__author Досуг
					.employees__name Ежемесячная университетская игра в мафию
					.employees__desc Приходите все, пишем в личку, добавлю в список игроков. Встречаемся на лужайке
			a(href='networking-inside.html').employees__items
				.employees__items--bg
					.employees__img(style='background-image: url("/img/enot.jpg")')
					.news__wrapper
						.news__date 19.04.2020
						.news__author Образование
					.employees__name Помогу с Выш. матом за помощь в английском
					.employees__desc Встречаемся два раза в неделю и обсуждаем проблемные места
			a(href='networking-inside.html').employees__items
				.employees__items--bg
					.employees__img(style='background-image: url("/img/enot.jpg")')
					.news__wrapper
						.news__date 15.04.20
						.news__author Диплом
					.employees__name Ищу напарника на дипломную работу
					.employees__desc  Проект - анализ роста и снижения иностранных валют на отечественных рынках
			a(href='networking-inside.html').employees__items
				.employees__items--bg
					.employees__img(style='background-image: url("/img/enot.jpg")')
					.news__wrapper
						.news__date 16.04.2020
						.news__author Университет
					.employees__name Университетский клуб книголюбов ищет таланты
					.employees__desc Кастинг будет проходить с 30 мая по 5 апреля, по вопросам обращаться по номеру +77078679900
			include includes/modules/_pagination
