extends layout/_main
block variables
	- var title = 'Новости';
	- var pageClass = 'news';

block content
	.container
		.employees__title Новости
		.links
			.links__wrapper
				a(href='#').links__item.active Все
				a(href='#').links__item Вакансии
				a(href='#').links__item Оповещания
		.employees__wrapper
			a(href='news-article.html').employees__items
				.employees__items--bg
					.employees__img(style='background-image: url("/img/enot.jpg")')
					.news__wrapper
						.news__date 20.04.2020
						.news__author Качиев Аслан
					.employees__name Бакалавр расписание online занятий на 21 апреля 2020 года! Бакалавр расписание online занятий на 21 апреля 2020 года!
					.employees__desc В прикрепленном файле расписание занятий Бакалавра. Напротив каждой группы есть ссылка на трансляцию в MS Teams.
			a(href='news-article.html').employees__items
				.employees__items--bg
					.employees__img(style='background-image: url("/img/enot.jpg")')
					.news__wrapper
						.news__date 19.04.2020
						.news__author Качиев Аслан
					.employees__name Бакалавр расписание online занятий на 20 апреля 2020 года!
					.employees__desc В прикрепленном файле расписание занятий Бакалавра. Напротив каждой группы есть ссылка на трансляцию в MS Teams. C руководством по использованию MS Teams можете ознакомиться по ссылке.
			a(href='news-article.html').employees__items
				.employees__items--bg
					.employees__img(style='background-image: url("/img/enot.jpg")')
					.news__wrapper
						.news__date 15.04.20
						.news__author Левкович Дарья Андреевна
					.employees__name Home Credit Bank
					.employees__desc   Home Credit BankПостер во вложении
			a(href='news-article.html').employees__items
				.employees__items--bg
					.employees__img(style='background-image: url("/img/enot.jpg")')
					.news__wrapper
						.news__date 16.04.2020
						.news__author Качиев Аслан
					.employees__name Бакалавр расписание online занятий на 17 апреля 2020 года!
					.employees__desc В прикрепленном файле расписание занятий Бакалавра. Напротив каждой группы есть ссылка на трансляцию в MS Teams. C руководством по использованию MS Teams можете ознакомиться по ссылке.
			include includes/modules/_pagination
