extends layout/_main
block variables
	- var title = 'Новости';
	- var pageClass = 'news-article';

block content
	.container
		.personal-area__wrapper
			.news-article__wrapper
				h1.news-article__title Бакалавр расписание online занятий на 21 апреля 2020 года! Бакалавр расписание online занятий на 21 апреля 2020 года!
				.news-article__date 20.04.2020
				h6.personal-area__name Качиев Аслан
				.news-article__img--wrapper
					img(src='/img/enot.jpg').news-article__img
					.personal-area__info
						p В прикрепленном файле расписание занятий Бакалавра. Напротив каждой группы есть ссылка на трансляцию в MS Teams. C руководством по использованию MS Teams можете ознакомиться по ссылке.
						p Внимание:
						p Как вы уже могли видеть, в вашем чате группы появилось сообщение о собрании. Это и будет ваша лекция. Если у вас нет такого события, то вот расписание с вашими любимыми ссылками) P.S. Если в расписании у вас нет ссылки, значит у вас должно быть уведомления о собрании в чате группы в MS Teams. Просто нажимаем на собрание и подключаемся
						p В прикрепленном файле расписание занятий Бакалавра. Напротив каждой группы есть ссылка на трансляцию в MS Teams. C руководством по использованию MS Teams можете ознакомиться по ссылке.
						p Внимание:
						p Как вы уже могли
						p В прикрепленном файле расписание занятий Бакалавра. Напротив каждой группы есть ссылка на трансляцию в MS Teams. C руководством по использованию MS Teams можете ознакомиться по ссылке.
						p Внимание:
						p Как вы уже могли