extends layout/_main
block variables
	- var title = 'Расписание';
	- var pageClass = 'schedule';

block content
	.container
		.employees__title Расписание
		.links
			.links__wrapper
				a(href='#').links__item.active Семестровое
				a(href='#').links__item Экзамиционное
		.schedule__wrapper
			.map__table
				.schedule__title Понедельник
				.map__table--items
					.map__table--time Время
					.map__table--number Аудитория
					.map__table--desc Предмет
					.map__table--author Преподователь
				.map__table--items
					.map__table--time 18:00
					.map__table--number 306
					.map__table--desc География
					.map__table--author --
				.map__table--items
					.map__table--time 18:00
					.map__table--number --
					.map__table--desc География
					.map__table--author Аслан Асланович
				.map__table--items
					.map__table--time --
					.map__table--number 306
					.map__table--desc География
					.map__table--author Аслан Асланович
				.map__table--items
					.map__table--time 18:00
					.map__table--number 306
					.map__table--desc --
					.map__table--author Аслан Асланович
			.map__table
				.schedule__title Вторник, 18.02
				.map__table--items
					.map__table--time Время
					.map__table--number Аудитория
					.map__table--desc Предмет
					.map__table--author Преподователь
				.map__table--items
					.map__table--time 18:00
					.map__table--number 306
					.map__table--desc География
					.map__table--author --
				.map__table--items
					.map__table--time 18:00
					.map__table--number --
					.map__table--desc География
					.map__table--author Аслан Асланович
				.map__table--items
					.map__table--time --
					.map__table--number 306
					.map__table--desc География
					.map__table--author Аслан Асланович
				.map__table--items
					.map__table--time 18:00
					.map__table--number 306
					.map__table--desc --
					.map__table--author Аслан Асланович
			.map__table
				.schedule__title Вторник
				.map__table--items
					.map__table--time Время
					.map__table--number Аудитория
					.map__table--desc Предмет
					.map__table--author Преподователь
				.map__table--items
					.map__table--time 18:00
					.map__table--number 306
					.map__table--desc География
					.map__table--author --
				.map__table--items
					.map__table--time 18:00
					.map__table--number --
					.map__table--desc География
					.map__table--author Аслан Асланович
				.map__table--items
					.map__table--time --
					.map__table--number 306
					.map__table--desc География
					.map__table--author Аслан Асланович
				.map__table--items
					.map__table--time 18:00
					.map__table--number 306
					.map__table--desc --
					.map__table--author Аслан Асланович