extends layout/_main
block variables
	- var title = 'Вещи UIB';
	- var pageClass = 'news-article';

block content
	.container
		.personal-area__wrapper
			.news-article__wrapper
				h1.news-article__title Пропажа
				.news-article__date 20.04.2020
				.news-article__date Качиев Аслан, 4 курс ИС 16.309
				.news-article__date +77073468840
				.news-article__date +77073468840
				h6.personal-area__name  Нашел телефон около 306 кабинета, по всем вопросам на мою страничку в инстаграмме @ino_666
				.news-article__img--wrapper
					img(src='/img/enot.jpg').news-article__img
