extends layout/_main
block variables
	- var title = 'Вещи UIB';
	- var pageClass = 'things-list';

block content
	.container
		.employees__title Вещи UIB
		.links
			.links__wrapper
				a(href='#').links__item.active Все
				a(href='#').links__item Пропажа
				a(href='#').links__item Находка
		.employees__wrapper
			a(href='things-article.html').employees__items
				.employees__items--bg
					.news__wrapper
						.news__date 20.04.2020
						.news__author.search Пропажа
					.things-list__desc Потерял телефон в 306 кабинете
			a(href='things-article.html').employees__items
				.employees__items--bg
					.news__wrapper
						.news__date 19.04.2020
						.news__author.find Находка
					.things-list__desc Нашла телефон около 306 кабинета, по всем вопросам на мою страничку
			a(href='things-article.html').employees__items
				.employees__items--bg
					.news__wrapper
						.news__date 15.04.20
						.news__author.find Находка
					.things-list__desc   Описание Находка
			a(href='things-article.html').employees__items
				.employees__items--bg
					.news__wrapper
						.news__date 16.04.2020
						.news__author.search Пропажа
					.things-list__desc Находка
			include includes/modules/_pagination