extends layout/_main
block variables
	- var title = 'Вещи UIB';
	- var pageClass = 'things';

block content
	.container
		.employees__title Вещи UIB
		.map__wrapper
			nav(role='tablist')
				.nav.nav-tabs
					#defaultOpen.nav-link(data-target="search") Пропажа
					.nav-link(data-target="finding") Находка
				.tab-content
					#search.tab-pane
						.things__form--wrapper
							p
								span.label-required *
								| - обязательные поля
							form
								.form-group
									label(for='search-tel') Контакты для связи
										span.label-required *
									input#search-tel.form-control(type='tel', placeholder='Телефон', required='required')
								.form-group
									label(for='search-tel-other') Допольнительный телефон
									input#search-tel-other.form-control(type='tel', placeholder='Телефон')
								.form-group
									label(for='search-textarea') Описание найденной вещи (где нашли, день/время, примечательные черты)
										span.label-required *
									textarea#search-textarea.form-control(rows='3', required='required')
								.form-group
									label(for='search-file') Фото
									input#search-file.form-control-file(type='file')
								button.btn.btn--default(type='submit') Отправить
					#finding.tab-pane
						.things__form--wrapper
							p
								span.label-required *
								| - обязательные поля
							form
								.form-group
									label(for='finding-tel') Контакты для связи
										span.label-required *
									input#finding-tel.form-control(type='tel', placeholder='Телефон', required='required')
								.form-group
									label(for='finding-tel-other') Допольнительный телефон
									input#finding-tel-other.form-control(type='tel', placeholder='Телефон')
								.form-group
									label(for='finding-textarea') Описание найденной вещи (где нашли, день/время, примечательные черты)
										span.label-required *
									textarea#finding-textarea.form-control(rows='3', required='required')
								.form-group
									label(for='finding-file') Фото
									input#finding-file.form-control-file(type='file')
								button.btn.btn--default(type='submit') Отправить
