include ../utils/_mixins
block variables

doctype html
html(lang='en')
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,minimum-scale=1.0, shrink-to-fit=no")
		meta(name="format-detection" content="telephone=no")
		title #{title} | UIBstud
		include ../includes/modules/_favicon
		include ../includes/modules/_links
	body(class=pageClass)
		include ../includes/modules/_header
		.content
			include ../includes/modules/_main-menu
			block content
		include ../includes/modules/_footer
		include ../includes/modules/_scripts
