.footer
  background-color: $mainColor
  padding 10px 0
  &__wrapper
    display flex
    flex-direction row
    align-items center
    justify-content space-between
  &__item--icon
    display flex
    flex-direction row
    align-items center
    justify-content flex-start
  &__icon
    width: 30px
    height: 30px
    border-radius 50%
    display flex
    align-items center
    justify-content center
    transition all .3s linear
    opacity 0.5
    margin-right: 20px
    &:last-child
      margin-right: 0
    &:hover,
    &:focus
      opacity 1
      transition all .3s linear
  &__icon--img
    width: 30px
    height: 30px
    background-size: cover
    background-position center
    background-repeat no-repeat
    transition all .3s linear
  &__item--txt
    display flex
    flex-direction row
    align-items flex-end
    @media xs-all
      display none
  &__txt,
  &__txt--link
    color $wh
    font-size: 14px
    font-weight 100
    margin 0 20px 0 0
    &:last-child
      margin-right: 0
  &__txt--link
    position relative
    &:after
      content ''
      position: absolute
      left 0
      right 0
      width: 0
      height: 1px
      background-color: $wh
      bottom 0
      transition all .3s linear
    &:hover
      color $wh
      &:after
        width: 100%