/**
** Forms
** 1. .form-control - отвечает за стилизацию <input>, <textarea> and etc.
** 2. .form-control:focus - отвечает за стилизацию при фокусе на элементе
** 3. .form-control:disabled, .form-control[readonly] - стилизация при выключенном элементе,
** или же элементе с атрибутом [readonly] - только для чтения.
** 4. .form-control--error - стилизация <input> при ошибке
** 5. span.form-error - стилизация текста span при ошибке, по умолчанию скрытому
** 6. span.form-error.show - показывает ошибку
** 7. .form-group - оберточный блок для элементов формы, <label> и <input> идут друг за другом
** 8. .form-group--inline - оберточный блок для элементов формы, <label> и <input> идут на одном уровне
** 9. .custom-control - оберточный блок для кастомизированных элементов формы
** padding-left 24px - дает пространнство слева для кастомного элемента
** 10. .custom-control.custom-control--inline - оберточный блок для кастомизированных элементов формы в строчку,
** родитель должен быть .form-group--inline
** 11. .custom-control--input - скрывает default input
** 12. .custom-control--label - задает позиционирование кастомного <input>
** 13. .custom-control.custom-checkbox - стилизация кастомного checkbox
** 14. .custom-control.custom-radio - стилизация кастомного radio
** 15. .custom-control.custom-switch - стилизация кастомного switch
** 16. select.custom-select - кастомный селект, с возможностью менять стрелочку у селекта
** 17. .custom-file - обертночный блок для кастомного <input type="file">
** 18. .custom-file--input - скрывает default <input type="file">
** 19. .custom-file--label - стилизация кастомного <input type="file">
** 20. input.custom-range - стилизация кастомной прокрутки
 */
/**
** 1. .btn  - clearfix для очистки стандартных стилей и подстройки под .btn--default или кастомные классы
** 2. .btn.disabled - отключает <a></a>, для отключения <button></button> необходимо добавить атрибут disabled.
** 3. .btn:focus - задает box-shadow для таб навигации и визуализации элемента в фокусе
** 4. .btn.active - задает активный элемент
** 5. .btn.btn--default - задает стандартные стили для кнопки
** для кастомизации можно использовать свой класс или же изменять .btn--default
** 6. Для коректного кода, следует использовать .btn вместе с .btn--default или же кастомным классом.
*/
label
  padding-bottom: 10px
span.label-required
  color red
.form-control
  display block
  width 100%
  height 40px
  padding 6px 12px
  font-size 16px
  color #495057
  background-color #fff
  background-clip padding-box
  border 1px solid #ced4da
  border-radius 4px
  transition all 0.15s ease-in-out

@media (prefers-reduced-motion: reduce)
  .form-control
    transition none

.form-control
  &::-ms-expand
    background-color transparent
    border 0

  &::-webkit-input-placeholder
    color #b4b4b4
    opacity 1

  &::-moz-placeholder
    color #b4b4b4
    opacity 1

  &:-ms-input-placeholder
    color #b4b4b4
    opacity 1

  &::-ms-input-placeholder
    color #b4b4b4
    opacity 1

  &::placeholder
    color #b4b4b4
    opacity 1

  &:focus
    color #495057
    background-color #fff
    border-color $mainColor
    outline 0
    box-shadow 0 0 0 4px #007a5340

.form-control:disabled,
.form-control[readonly]
  background-color #e9ecef
  opacity 1

.form-control--error
  border 1px solid #f70808

.form-error
  color #f70808
  font-size: 12px
  display: none

.form-error.show
  display: block

select
  &.form-control
    &:focus
      &::-ms-value
        color #495057
        background-color #fff

select.form-control[size],
select.form-control[multiple]
  height auto

textarea
  &.form-control
    height auto

.form-control-file
  display block
  width 100%
  outline 0



.form-group
  margin-bottom 16px
  display flex
  flex-direction column
  align-items flex-start
  justify-content center

.form-group--inline
  margin-bottom 16px
  display flex
  flex-direction row
  align-items center
  justify-content flex-start
  flex-wrap wrap

  & .form-control,
  & textarea,
  & input,
  & select
    width: 80%
    @media xs
      width: 65%

  & label
    width: 20%
    padding-right: 10px
    @media xs
      width: 35%

  & .form-error
    margin-left: 20%
    @media xs
      width: 35%

.custom-control
  position relative
  display block
  min-height 24px
  padding-left 24px

  & input
    width auto

  & label
    width: auto

.custom-control--inline
  display -ms-inline-flexbox
  display inline-flex
  margin-right 16px

.custom-control--input
  position absolute
  z-index -1
  opacity 0

  &:checked
    & ~ .custom-control--label
      &::before
        color #fff
        border-color $mainColor
        background-color $mainColor

  &:focus
    & ~ .custom-control--label
      &::before
        box-shadow 0 0 0 4px #007a5340

    &:not(:checked)
      & ~ .custom-control--label
        &::before
          border-color $mainColor

  &:not(:disabled):active
    & ~ .custom-control--label
      &::before
        color #fff
        background-color #b3d7ff
        border-color #b3d7ff

  &:disabled
    & ~ .custom-control--label
      color #6c757d

      &::before
        background-color #e9ecef

.custom-control--label::before,
.custom-file--label,
.custom-select
  transition background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out

.custom-control--label
  position relative
  margin-bottom 0
  vertical-align top

  &::before
    position absolute
    top 4px
    left -24px
    display block
    width 16px
    height 16px
    pointer-events none
    content ""
    background-color #fff
    border #adb5bd solid 1px

  &::after
    position absolute
    top 4px
    left -24px
    display block
    width 16px
    height 16px
    content ""
    background no-repeat 50% / 50% 50%

.custom-checkbox
  .custom-control--label
    &::before
      border-radius 4px

  .custom-control--input
    &:checked
      & ~ .custom-control--label
        &::after
          background-image url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e")

    &:indeterminate
      & ~ .custom-control--label
        &::before
          border-color $mainColor
          background-color $mainColor

        &::after
          background-image url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 4'%3e%3cpath stroke='%23fff' d='M0 2h4'/%3e%3c/svg%3e")

    &:disabled
      &:checked
        & ~ .custom-control--label
          &::before
            background-color rgba(0, 123, 255, 0.5)

      &:indeterminate
        & ~ .custom-control--label
          &::before
            background-color rgba(0, 123, 255, 0.5)

.custom-radio
  .custom-control--label
    &::before
      border-radius 50%

  .custom-control--input
    &:checked
      & ~ .custom-control--label
        &::after
          background-image url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e")

    &:disabled
      &:checked
        & ~ .custom-control--label
          &::before
            background-color rgba(0, 123, 255, 0.5)

.custom-switch
  padding-left 36px

  .custom-control--label
    &::before
      left -36px
      width 28px
      pointer-events all
      border-radius 8px

    &::after
      top 6px
      left -34px
      width 12px
      height 12px
      background-color #adb5bd
      border-radius 8px
      transition transform 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out

  .custom-control--input
    &:checked
      & ~ .custom-control--label
        &::after
          background-color #fff
          -webkit-transform translateX(12px)
          transform translateX(12px)

    &:disabled
      &:checked
        & ~ .custom-control--label
          &::before
            background-color rgba(0, 123, 255, 0.5)

@media (prefers-reduced-motion: reduce)
  .custom-switch
    .custom-control--label
      &::after
        transition none

.custom-select
  display inline-block
  width 100%
  height 40px
  padding 6px 12px
  font-size 16px
  color #495057
  vertical-align middle
  background url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right 0.75rem center / 8px 10px
  background-color #fff
  border 1px solid #ced4da
  border-radius 4px
  -webkit-appearance none
  -moz-appearance none
  appearance none

  &:focus
    border-color $mainColor
    outline 0
    box-shadow 0 0 0 4px #007a5340

    &::-ms-value
      color #495057
      background-color #fff

  &:disabled
    color #6c757d
    background-color #e9ecef

  &::-ms-expand
    display none

.custom-select[multiple],
.custom-select[size]:not([size="1"])
  height auto
  padding-right 12px
  background-image none

.custom-file
  position relative
  display inline-block
  width 100%
  height 40px
  margin-bottom 0

  & input
    width: auto

  & label
    width: auto

.custom-file--input
  position relative
  z-index 2
  width 100%
  height 40px
  margin 0
  opacity 0

  &:focus
    & ~ .custom-file--label
      border-color $mainColor
      box-shadow 0 0 0 4px #007a5340

  &:disabled
    & ~ .custom-file--label
      background-color #e9ecef

  &:lang(en)
    & ~ .custom-file--label
      &::after
        content "Browse"

  &:lang(ru)
    & ~ .custom-file--label
      &::after
        content "Выберите файл"

  & ~ .custom-file--label[data-browse]::after
    content attr(data-browse)

.custom-file--label
  position absolute
  top 0
  right 0
  left 0
  z-index 1
  height 40px
  padding 6px 12px
  color #495057
  background-color #fff
  border 1px solid #ced4da
  border-radius 4px

  &::after
    position absolute
    top 0
    right 0
    bottom 0
    z-index 3
    display block
    height 38px
    padding 6px 12px
    color #495057
    content "Выберите файл"
    background-color #e9ecef
    border-left inherit
    border-radius 0 4px 4px 0

.custom-range
  width 100%
  height 20px
  padding 0
  background-color transparent
  -webkit-appearance none
  -moz-appearance none
  appearance none

  &:focus
    outline none

    &::-webkit-slider-thumb
      box-shadow 0 0 0 1px #fff, 0 0 0 4px #007a5340

    &::-moz-range-thumb
      box-shadow 0 0 0 1px #fff, 0 0 0 4px #007a5340

    &::-ms-thumb
      box-shadow 0 0 0 1px #fff, 0 0 0 4px #007a5340

  &::-moz-focus-outer
    border 0

  &::-webkit-slider-thumb
    width 16px
    height 16px
    margin-top -4px
    background-color $mainColor
    border 0
    border-radius 16px
    transition background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out
    -webkit-appearance none
    appearance none

    &:active
      background-color #b3d7ff

  &::-webkit-slider-runnable-track
    width 100%
    height 8px
    color transparent
    cursor pointer
    background-color #dee2e6
    border-color transparent
    border-radius 16px

  &::-moz-range-thumb
    width 16px
    height 16px
    background-color $mainColor
    border 0
    border-radius 16px
    transition background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out
    -moz-appearance none
    appearance none

    &:active
      background-color #b3d7ff

  &::-moz-range-track
    width 100%
    height 8px
    color transparent
    cursor pointer
    background-color #dee2e6
    border-color transparent
    border-radius 16px

  &::-ms-thumb
    width 16px
    height 16px
    margin-top 0
    margin-right 4px
    margin-left 4px
    background-color $mainColor
    border 0
    border-radius 16px
    transition background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out
    appearance none

    &:active
      background-color #b3d7ff

  &::-ms-track
    width 100%
    height 8px
    color transparent
    cursor pointer
    background-color transparent
    border-color transparent
    border-width 8px

  &::-ms-fill-lower
    background-color #dee2e6
    border-radius 16px

  &::-ms-fill-upper
    margin-right 15px
    background-color #dee2e6
    border-radius 16px

  &:disabled
    &::-webkit-slider-thumb
      background-color #adb5bd

    &::-webkit-slider-runnable-track
      cursor default

    &::-moz-range-thumb
      background-color #adb5bd

    &::-moz-range-track
      cursor default

    &::-ms-thumb
      background-color #adb5bd

@media (prefers-reduced-motion: reduce)
  .custom-range
    &::-webkit-slider-thumb
      transition none

@media (prefers-reduced-motion: reduce)
  .custom-range
    &::-moz-range-thumb
      transition none

@media (prefers-reduced-motion: reduce)
  .custom-range
    &::-ms-thumb
      transition none

.btn
  display inline-block
  font-weight 400
  color #212529
  text-align center
  vertical-align middle
  -webkit-user-select none
  -moz-user-select none
  -ms-user-select none
  user-select none
  background-color transparent
  border 1px solid transparent
  padding 6px 12px
  font-size 16px
  line-height 1.5
  border-radius 4px
  transition all 0.15s ease-in-out

  &:hover
    color #212529
    text-decoration none

@media (prefers-reduced-motion: reduce)
  .btn
    transition none

.btn:focus
  outline 0

.btn.disabled,
.btn:disabled
  opacity 0.65

a.btn.disabled,
fieldset:disabled a.btn
  pointer-events none

.btn--default
  color #fff
  background-color $mainColor
  border-color $mainColor

  &:hover
    color #fff
    background-color #026646
    border-color #026646

.btn--default:focus
  box-shadow 0 0 0 4px #007a5340

.btn--default:not(:disabled):not(.disabled):active,
.btn--default:not(:disabled):not(.disabled).active
  color #fff
  background-color $mainColor
  border-color $mainColor

.btn--default:not(:disabled):not(.disabled):active:focus,
.btn--default:not(:disabled):not(.disabled).active:focus
  box-shadow 0 0 0 4px #007a5340

