.header
  background-color: $mainColor
  padding 10px 0
  height 85px
  min-height 85px
  @media xs
    height 60px
    min-height 60px
  @media sm
    height 67px
    min-height 67px
  &__wrapper
    display flex
    flex-direction row
    align-items center
    justify-content space-between

  &__logo
    width: 250px
    display: flex
    flex-direction row
    align-items center

    @media xs
      width: 150px
    @media sm
      width: 200px

  &__burger
    display flex
    flex-direction column
    cursor: pointer

    span
      height: 4px
      width: 30px
      background-color: #fff
      margin-bottom: 8px

      &:last-child
        margin-bottom: 0

  &__avatar
    align-self flex-end
    width: 65px
    height: 65px
    border-radius: 50%
    border: 1px solid #fff
    background-size: cover
    background-position: center
    background-repeat: no-repeat
    position relative
    display block
    cursor pointer
    @media xs-all
      width: 40px
      height: 40px

  &__exit
    transition all .3s linear
    background-color: #eee
    color grey
    font-weight: bold
    position absolute
    bottom -32px
    left 50%
    transform translateX(-50%)
    height: 30px
    width: 100px
    display flex
    align-items center
    justify-content center
    border-radius 8px
    cursor: pointer
    z-index 10
    opacity 0
    &:hover,
    &:focus
      color $mainColor
