.fa-2x
  font-size: 2em

.fa
  position: relative
  display: table-cell
  width: 50px
  height: 36px
  text-align: center
  vertical-align: middle
  font-size: 20px

.main-menu:hover,
nav.main-menu.expanded
  width: 250px
  overflow: visible

.main-menu
  background: $mainColor
  position: absolute
  top: 0
  bottom: 0
  height: auto
  left: 0
  width: 50px
  overflow: hidden
  transition: width .35s linear
  z-index: 1000


  &:hover,
  &:focus
    .nav-text
      opacity 1
      width: 190px
  &__wrapper
    padding 20px 0
    height 100%
    overflow-y: auto
    overflow-x: hidden


.main-menu > ul
  margin: 7px 0
  overflow hidden


.main-menu li
  position: relative
  display: block
  width: 250px


.main-menu li > a
  position: relative
  display: table
  border-collapse: collapse
  border-spacing: 0
  color: $wh
  font-family: arial
  font-size: 14px
  text-decoration: none
  transition: all .1s linear

.main-menu .nav-icon
  position: relative
  display: table-cell
  width: 50px
  height: 36px
  text-align: center
  vertical-align: middle
  font-size: 18px


.main-menu .nav-text
  position: relative
  display: table-cell
  vertical-align: middle
  font-family: $mainFont
  transition opacity 1s linear
  opacity 0
  font-weight: 100

.no-touch .scrollable.hover
  overflow-y: hidden


.no-touch .scrollable.hover:hover
  overflow-y: auto
  overflow: visible


a:hover, a:focus
  text-decoration: none


nav
  -webkit-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  -o-user-select: none
  user-select: none


nav ul, nav li
  outline: 0
  margin: 0
  padding: 0


.main-menu li:hover > a,
nav.main-menu li.active > a,
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus,
.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,
.dashboard-page nav.dashboard-menu ul li.active a
  color: $wh
  background-color: $darkMainColor

