/**
** Nav
** 1. .nav - класс для позиционирования элементов
** 2. .nav.nav-tabs - класс отделяющий border-bottom границу между .nav-link и контентом
** 3. .nav-link - стилизация ссылок переключения tab
** 4. .nav-link:hover, .nav-link:focus - стилизация элемента при наведении и фокусе
** 5. .nav-tabs .nav-link.active -  выделение активного элемента
** 6. .tab-content - оберточный блок для таб контента
** 7. @keyframes fadeEffect - анимация для плавного перехода
** 8. .tab-pane - наш контент, скрытый по умолчанию кроме #defaultOpen
 */
.nav
  display flex
  flex-wrap wrap
  padding-left 0
  list-style none
  width: 100%
  margin-bottom: 25px

.nav-link
  display block
  padding 8px 12px
  cursor: pointer
  border-top 3px solid transparent
  color #B4B4B4
  transition all .3s linear
  margin 0 4px

.nav-link:hover,
.nav-link:focus
  text-decoration none
  color $mainColor
.nav-tabs .nav-link.active
  color $mainColor
  border-color $mainColor
  cursor: default;

.tab-pane
  display none
  animation fadeEffect 1s

@keyframes fadeEffect
  from
    opacity 0
  to
    opacity 1
