font_generate(font_folder, font_name, font_family, font_weight = 'normal', font_style = 'normal'){
	prefix = "../fonts/" + font_folder + '/' + font_name
	@font-face {
		font-family font_family
		src url(prefix + '.woff') format('woff'),
			url(prefix + '.woff2') format('woff2')
		font-weight font_weight
		font-style font_style
	}
}
font_generate('Muller', 'MullerThin', 'Muller', 100)
font_generate('Muller', 'MullerUltraLight', 'Muller', 200)
font_generate('Muller', 'MullerLight', 'Muller', 300)
font_generate('Muller', 'MullerRegular', 'Muller', 400)
font_generate('Muller', 'MullerMedium', 'Muller', 500)
font_generate('Muller', 'MullerBold', 'Muller', 700)
font_generate('Muller', 'MullerExtraBold', 'Muller', 800)
font_generate('Muller', 'MullerBlack', 'Muller', 900)

