/* templates */

.dropdown
  position relative

  &-list
    display none
    position absolute

.btn
  padding 0
  border none

ul.ul
  padding 0
  margin 0

.clearfix-table
  width: 100%
  overflow-x scroll
  & > table
    width: auto!important
    overflow-x scroll

